.details-page {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.inner-page {
   display: flex;
   flex-direction: column;
   width: 1000px;
}

.img-container {
   display: flex;
   gap: 5px;
   margin-bottom: 30px;
}

.img-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
      "img1 img2"
      "img3 img4"
   ;
   gap: 5px;
   margin-right: 5px;
}

#preview-image {
   grid-area: pre;
   width: 495px;
   height: 400px;
   object-fit: cover;
   border-radius: 15px 0 0 15px;
}

#img-1 {
   grid-area: img1;
   width: 247px;
   height: 198px;
   object-fit: cover;
}

#img-2 {
   grid-area: img2;
   width: 247px;
   height: 198px;
   object-fit: cover;
   border-radius: 0 15px 0 0;
}

#img-3 {
   grid-area: img3;
   width: 247px;
   height: 198px;
   object-fit: cover;
}

#img-4 {
   grid-area: img4;
   width: 247px;
   height: 198px;
   object-fit: cover;
   border-radius: 0 0 15px 0;
}

.details-container {
   display: grid;
   grid-template-columns: 3fr 2fr;
   border-bottom: 1px solid grey;
   padding-bottom: 30px;
}

.reservation {
   display: grid;
   border: 1px solid grey;
   border-radius: 15px;
   height: fit-content;
   box-shadow: 1px 1px 2px grey;
   margin: 5px;
}

.res-price {
   display: flex;
   align-items: center;
   gap: 5px;
}

.res-details {
   display: flex;
   justify-content: space-between;
   padding: 10px 30px 0px 30px;
}

.res-reviews {
   display: flex;
   align-items: center;
}

.res-button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 30px 30px 30px;
}

#res-button {
   width: 100%;
   height: 35px;
   background: red;
   font-weight: bold;
   color: white;
   border-radius: 5px;
   box-shadow: 1px 1px 1px grey;
}

#res-button:hover {
   cursor: pointer;
   box-shadow: 2px 2px 2px grey;
}

#res-button:active {
   box-shadow: none;
}

#bullet {
   margin-left: 5px;
   margin-right: 5px;
}

.fa-star {
   margin-right: 5px;
}

#delete-button {
   list-style-type: none;
}
